/* body {
	-moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;


   -ms-user-select: none;
   user-select: none;
} */

.hide {
	display: none !important;
}

.disabled {
	display: none !important;
}

.highlighted {
	border-width: 2px !important;
	border-color: black !important;
	margin: 4px !important;
}

.card {
	display: inline-block;
	height: 90px;
	width: 85px;
	float: left;
	font-size: 10px;
	border: 1px solid gray;
	margin: 5px;
	line-height: 1;
}

.card.mech-type {
	border-radius: 10px;
}

.card.player-card {
	width: 120px;
}

.card.building-card {
	width: 120px;
}

.card.active, .card.active-multiple {
	border: 2px solid black;
	cursor: pointer;
}



.card div {
	display: inline-block;
	padding: 2px;
}

.bank {
	width:90%;
	font-size:20px;
	text-align: center;
}

.card-top-row {
	width: 90%;
	text-align: center;
}

.description {
	word-wrap: break-word;
}

.abilities .ability {
	word-wrap: break-word;
	cursor: pointer;
}

.attack{
	font-size: 16px;
	float: left;
}
.cost {
	margin: auto;
	font-size: 16px;
}

.health {
	font-size: 16px;
	float: right;
}

.name {
	width: 90%;
	text-align: center;
	font-size: 14px;
	word-wrap: break-word;
}

.status-icons {
	width: 90%;
	text-align: center;
	bottom:0;
	font-size: 16px;
}

.status-icons div {
	float: left;
}

.status-icons .fighter-image {
	background-image: url("../images/fighter-icon.png");
}

.status-icons .specialist-image {
	background-image: url("../images/specialist-icon.png");
}

#zoom-card-display {
	background-color: yellow;
	position: fixed;
	height: 252px;
	width: 352px;
	top: 10%;
    left: 35%;
}

#zoom-card-display .card {
	height: 240px;
	width: 340px;
	float: none;
	font-size: 20px;
	border: 3px solid black;
	margin: 3px;
}

#zoom-card-display .attack {
	font-size: 30px;
	float: left;
}
#zoom-card-display .cost {
	margin: auto;
	font-size: 30px;
}

#zoom-card-display .health {
	font-size: 30px;
	float: right;
}

#zoom-card-display .name {
	width: 90%;
	text-align: center;
	font-size: 24px;
}

#zoom-card-display .status-icons {
	width: 90%;
	text-align: center;
	bottom:0;
	font-size: 30px;
}

.outer-container {
	float: left;
    display: inline-flex;
}

#left-pane {
	width: 70%;
	overflow-y: scroll;
}

#right-pane {
	width: 28%;
	border-left: 2px solid black;
}

.pane {
	padding-left: 5px;
	padding-right: 5px;
	position: relative;
}

.type-container {
	display: inline-block;
	width: 100%;
}

.count.error {
	color: red;
}

#right-pane .card {
	width: 200px;
	height: 250px;
}

#right-pane .card div {
	font-size: 18px;
	margin-bottom: 3px;
}

#right-pane .card .description {
	font-size: 16px;
}

#deck-name.error {
	border-color: red;
	border-width: 2px;
}