body {
	-moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}

.hide {
	display: none !important;
}

.disabled {
	display: none !important;
}

.highlighted {
	border-width: 4px !important;
	margin: 2px !important;
}

.end-game {
	position: fixed;
	z-index:99999;
	height:100%;
	width:100%;
	min-height: 2000px;
	top: 0;
	text-align: center;
	cursor: pointer;
	background-color:pink;
}

#game-board div {
	position: relative;
}

#game-board .status {
	position: fixed;
	top: 0;
	left: 0;
    width: 99%;
    background-color: lightgreen;
    padding: 10px;
    text-align: center;
}

#game-board .showing-combat-results {
	position: fixed;
	bottom: 0;
	left: 0;
    width: 99%;
    background-color: LightGoldenRodYellow;
    padding: 10px;
    text-align: center;
}

.status-spacer {
	width: 100%;
	height: 80px;
}

.status button {
    height: 32px;
    width: 50%;
    position: relative;
}

.card-row {
	min-height: 100px;
	margin:10px;
	border: 5px solid darkblue;
	display: -webkit-box;
}
.placement-zone {
	background-color: lightblue;
	cursor: move;
}

.lane {
	float: left;
	margin-left: 3px;
	margin-right: 3px;
	width: 32.5%;
	min-height: 100px;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.player-lane {
	float: left;
	margin-left: 3px;
	margin-right: 3px;
	width: 41%;
	min-height: 100px;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.card {
	display: inline-block;
	height: 90px;
	width: 85px;
	float: left;
	font-size: 10px;
	border: 1px solid gray;
	margin: 5px;
	line-height: 1;
}

.card.mech-type {
	border-radius: 10px;
}

.card.player-card {
	width: 120px;
}

.card.building-card {
	width: 120px;
}

.float-right {
	float: right;
}

.building-card.building-ready {
	background-color: lightyellow;
}

.building-card.building-not-deployed {
	background-color: lightgray;
}

.player-card .debt {
	color: red;
	cursor: pointer;
}

.card.active, .card.active-multiple {
	border: 2px solid black;
	cursor: pointer;
}



.card div {
	display: inline-block;
	padding: 2px;
}

.bank {
	width:90%;
	font-size:20px;
	text-align: center;
}

.card-top-row {
	width: 90%;
	text-align: center;
}

.description {
	word-wrap: break-word;
}

.abilities .ability {
	word-wrap: break-word;
	cursor: pointer;
}

.attack{
	font-size: 16px;
	float: left;
}
.cost {
	margin: auto;
	font-size: 16px;
}

.health {
	font-size: 16px;
	float: right;
}

.name {
	width: 90%;
	text-align: center;
	font-size: 14px;
	word-wrap: break-word;
}

.status-icons {
	width: 90%;
	text-align: center;
	bottom:0;
	font-size: 16px;
}

.status-icons div {
	float: left;
}

#zoom-card-display .status-icons div {
	height: 20px;
	width: 20px;
}

.status-icons div {
	height: 12px;
    width: 12px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.status-icons .cooldown-image {
	background-image: url("../images/cooldown.png");
}

.status-icons .fighter-image {
	background-image: url("../images/fighter-icon.png");
}

.status-icons .specialist-image {
	background-image: url("../images/specialist-icon.png");
}

.status-icons .aggressive-image {
	background-image: url("../images/aggressive-icon.png");
}

.status-icons .defensive-image {
	background-image: url("../images/defensive-icon.png");
}

.status-icons .mobility-image {
	background-image: url("../images/mobility-icon.png");
}

.status-icons .reach-image {
	background-image: url("../images/reach-icon.png");
}

.status-icons .regeneration-image {
	background-image: url("../images/regeneration-icon.png");
}

.status-icons .shambling-image {
	background-image: url("../images/shambling-icon.png");
}

.status-icons .tenacity-image {
	background-image: url("../images/tenacity-icon.png");
}

.status-icons .mechanized-image {
	background-image: url("../images/mechanized-icon.png");
}

.status-icons .cooldown-amount {
	//margin-top: -3px;
}

.change-lane {
	float: right;
}

#zoom-card-display {
	background-color: yellow;
	position: fixed;
	height: 252px;
	width: 352px;
	top: 10%;
}

#zoom-card-display .card {
	height: 240px;
	width: 340px;
	float: none;
	font-size: 20px;
	border: 3px solid black;
	margin: 3px;
}



#zoom-card-display .attack {
	font-size: 30px;
	float: left;
}
#zoom-card-display .cost {
	margin: auto;
	font-size: 30px;
}

#zoom-card-display .health {
	font-size: 30px;
	float: right;
}

#zoom-card-display .name {
	width: 90%;
	text-align: center;
	font-size: 24px;
}

#zoom-card-display .status-icons {
	width: 90%;
	text-align: center;
	bottom:0;
	font-size: 30px;
}

.combat-card-0 {
	background-color:orange;
}
.combat-card-1 {
	background-color:blue;
}
.combat-card-2 {
	background-color:lightgrey;
}
.combat-card-3 {
	background-color:lightgreen;
}
.combat-card-4 {
	background-color:lightpink;
}
.combat-card-5 {
	background-color:lightyellow;
}
.combat-card-6 {
	background-color:green;
}
.combat-card-7 {
	background-color:beige;
}
.combat-card-8 {
	background-color:cornsilk;
}
.combat-card-9 {
	background-color:cyan;
}
.combat-card-10 {
	background-color:darkkhaki;
}
.combat-card-11 {
	background-color:gainsboro;
}
.combat-card-12 {
	background-color:lightsalmon;
}